{% load static%}
<!DOCTYPE HTML>

<html>
	<head>
		<title>{{singleblog.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="single is-preload">




				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#"><p>{{sideblog.dateside}}</p></a></h2>
										<p>{{singleblog.titlesub}}</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{singleblog.postdate}}</time>
										<a href="#" class="author"><span class="name">{{singleblog.authorname}}</span><img src="{{singleblog.author_image.url}}" alt="" /></a>
									</div>
								</header>
								<span class="image featured"><img src="{{sideblog.imageside.url}}" alt="" /></span>
								<p>{{sideblog.story}}</p>
								<footer>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon solid fa-heart">28</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>

					</div>

				<!-- Footer -->
					<section id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</section>

			</div>

		<!-- Scripts -->
			<script src=" {% static 'assets/js/jquery.min.js' %}"></script>
			<script src=" {% static 'assets/js/browser.min.js' %}"></script>
			<script src=" {% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src=" {% static 'assets/js/util.js' %}"></script>
			<script src=" {% static 'assets/js/main.js' %}"></script>

	</body>
</html>